.wrapper
{

    background: rgb(204,204,204);
    /* background:#E8E8E8; */
	padding: 10px;
	width: 600px;       /*➕*/
	margin-left: auto;  /*➕*/
	margin-right: auto; /*➕*/
}

h1
{
    text-align:center;
    background:chocolate;
    text-align: center;
    background:#5BBCFF;
	padding: 5px;       /*➕*/
}

ul
{
    text-align: center;
	padding: 0px; /*➕*/
}

li
{
    display:inline-block;
    display: inline-block;
}
.game
{
    width: 351px;
    background:black;
	text-align: center;  /*➕*/
	margin-left: auto;   /*➕*/
	margin-right: auto;  /*➕*/
}

.block
{
    display:inline-block;
    background:crimson;
    width:95px;
    display: inline-block;
    background: crimson;
    height: 95px;
    border:2px solid white;
    border-radius: 3px;
	text-align: center;  /*➕*/
	margin:5px;          /*➕*/
	font-size: 72px;     /*➕*/
    vertical-align: top;
}
.block div
{
    display:none
}

